@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 400;
  font-family: "Inter";
  /* font-size: 14px; */
}

html,
body,
#__next {
  height: 100%;
}

.chats_scroll > div:first-child {
  overflow: auto !important;
}

input[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  /* display: inline-block;
  width: 25px;
  height: 25px;
  padding: 6px;
  
  background-clip: content-box;
  border: 1.5px solid #bbbbbb;
  border-radius: 6px;
  background-color: #e7e6e7;
  margin-left: 15px;
  margin-right: 15px; */
}

/* input[type="checkbox"]:checked {
  background-color: #ff0000;
} */

input[type="checkbox"]:focus {
  outline: none !important;
}
